<a href="https://colab.research.google.com/github/Amin1218/Big_data/blob/main/Class_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
vals1=np.array([1,None,3,4])
vals1

array([1, None, 3, 4], dtype=object)

In [ ]:
for dtype in ['object','int']:
  print("dtype=", dtype)
  %timeit np.arange(1E6, dtype=dtype).sum()
  print()

dtype= object
42.1 ms ± 1.14 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

dtype= int
720 µs ± 10.6 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [ ]:
dtype = object

In [ ]:
dtype = int

In [ ]:
vals2 =np.array([1,np.nan,3,4])
vals2.dtype

dtype('float64')

In [ ]:
1+np.nan
0*np.nan
vals2.sum(), vals2.min().max()

(nan, nan)

In [ ]:
np.nansum(vals2), np.nanmin(vals2), np.nanmax(vals2)

(8.0, 1.0, 4.0)

In [ ]:
pd.Series([1,np.nan,2,None]) # NaN = not a number

0    1.0
1    NaN
2    2.0
3    NaN
dtype: float64

In [ ]:
x=pd.Series(range(2), dtype=int)
x

0    0
1    1
dtype: int64

In [ ]:
x[0]=None  # Detaset = Onek gula data / Data table (Raw data) || Database= Sorted data 
x

0    NaN
1    1.0
dtype: float64

In [ ]:
data=pd.Series([1,np.nan, 'hello',None]) # Null = unassigned data | it data can be replaced 
data.isnull()

0    False
1     True
2    False
3     True
dtype: bool

Note: the isnull() and notnull() methodes produce similar Boolean results for dataFrames

In [ ]:
data[data.notnull()]

0        1
2    hello
dtype: object

In [ ]:
data.dropna()

0        1
2    hello
dtype: object

In [ ]:
data.fillna(4)

0        1
1        4
2    hello
3        4
dtype: object

In [ ]:
df=pd.DataFrame([[1, np.nan,2], [3, 4, 5], [np.nan, 4,6]])
df

     0    1  2
0  1.0  NaN  2
1  3.0  4.0  5
2  NaN  4.0  6

In [ ]:
df.dropna() # NaN = raw value fela dicca

     0    1  2
1  3.0  4.0  5

In [ ]:
df.dropna(axis='columns') #NaN = Column vale fela dicca

   2
0  2
1  5
2  6

In [ ]:
df[3]=np.nan
df

     0    1  2   3
0  1.0  NaN  2 NaN
1  3.0  4.0  5 NaN
2  NaN  4.0  6 NaN

In [ ]:
df.dropna(axis='columns',how='all')  #all NaN = has been droped

     0    1  2
0  1.0  NaN  2
1  3.0  4.0  5
2  NaN  4.0  6

In [ ]:
df.dropna(axis='rows', thresh=3) #thresh = thresold | 3 er uporer and necher valu drop koreche

     0    1  2   3
1  3.0  4.0  5 NaN

In [ ]:
data=pd.Series([1,np.nan,2,None,3], index=list('abcde')) #NaN valo 0 dia fill korci
data

a    1.0
b    NaN
c    2.0
d    NaN
e    3.0
dtype: float64

In [ ]:
# forward-fill
data.fillna(method='ffill')

a    1.0
b    1.0
c    2.0
d    2.0
e    3.0
dtype: float64

In [ ]:
#back-fill
data.fillna(method='bfill')
df
df.fillna(method='ffill', axis=1)

     0    1    2    3
0  1.0  1.0  2.0  2.0
1  3.0  4.0  5.0  5.0
2  NaN  4.0  6.0  6.0

In [ ]:
index=[('California',2000), ('California',2010),
      ('New York',2000),('New York',2010),
       ('Texas',2000), ('Texas',2010)]

populations=[33871648, 37353956,
             18976457, 193253902,
             20851820, 25145561]

pop=pd.Series(populations, index=index)
pop

In [ ]:
pop[('California', 2010):('Texas',2000)]  #List & tuple difference: List: all types of data like bollien, list, tuples | Tuple: er vitor thake keys & values

In [ ]:
pop[[i for i in pop.index if i[1]==2010]]  # i for loop nicca

In [ ]:
index=pd.MultiIndex.from_tuples(index) # tuples akare ascca
index

In [ ]:
pop=pop.reindex(index)    # lower oder to higher order
pop

In [ ]:
pop[:,2010]  # : er kaj prothom theke shoro kore 2010 porjantu

In [ ]:
pop_df=pop.unstack()  # unstack data frame kore dicca

In [ ]:
pop_df

In [ ]:
pop_df.stack()  # Stack data frame kore dicca

In [ ]:
pop_df=pd.DataFrame({'total':pop,                           #
                     'under18':[9267089, 9284094,
                                4687374,4318033,
                                5906301,6879014]})
pop_df

In [ ]:
# from pandas.core.reshape.reshape import unstack
f_u18=pop_df['under18']/pop_df['total']
f_u18.unstack()

                2000      2010
California  0.273594  0.248544
New York    0.247010  0.022344
Texas       0.283251  0.273568

In [ ]:
df=pd.DataFrame(np.random.rand(4,2),
        index=[['a','a','b','b'],[1,2,1,2]],
        columns=['data1','data2'])
df

        data1     data2
a 1  0.978424  0.547377
  2  0.387271  0.499866
b 1  0.151352  0.601874
  2  0.381101  0.600402

In [ ]:
data={('California',2000):33871648,
      ('California',2010): 37253956,
      ('Texas',2000):20851820,
      ('Texas',2010):25145561,
      ('New York',2000): 18976457,
      ('New York',2010): 19378102}
pd.Series(data)

California  2000    33871648
            2010    37253956
Texas       2000    20851820
            2010    25145561
New York    2000    18976457
            2010    19378102
dtype: int64

In [ ]:
pd.MultiIndex.from_arrays([['a','a','b','b'],[1,2,1,2]]) ##

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           )

In [ ]:
pd.MultiIndex.from_tuples([['a','a','b','b'],[1,2,1,2]]) ##

MultiIndex([('a', 'a', 'b', 'b'),
            (  1,   2,   1,   2)],
           )

In [ ]:
pd.MultiIndex.from_product([['a','b'], [1,2]])  #Cartisian like matrix

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           )

In [ ]:
index = pd.MultiIndex.from_product([[2013,2014], [1,2]],
                                   names=['year','visit'])

NameError: ignored

In [ ]:
columns = pd.MultiIndex.from_product([['Bob','Guido', 'Sue'],['HR','Temp']],
                                     names=['subject','type'])