<a href="https://colab.research.google.com/github/Amin1218/Big_data/blob/main/Day_4_(Dataset).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df=pd.read_csv('/salary_data.csv')
df.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

MessageError: ignored

In [ ]:
import csv
rows = []
with open("/content/salary_data.csv",'r')as file:
    csvreader=csv.reader(file)
    header=next(csvreader)
    for row in csvreader:
        rows.append(row)
    print(header)
    print(rows)

['YearsExperience', 'Salary']
[['1.1', '39343.00'], ['1.3', '46205.00'], ['1.5', '37731.00'], ['2.0', '43525.00'], ['2.2', '39891.00'], ['2.9', '56642.00'], ['3.0', '60150.00'], ['3.2', '54445.00'], ['3.2', '64445.00'], ['3.7', '57189.00'], ['3.9', '63218.00'], ['4.0', '55794.00'], ['4.0', '56957.00'], ['4.1', '57081.00'], ['4.5', '61111.00'], ['4.9', '67938.00'], ['5.1', '66029.00'], ['5.3', '83088.00'], ['5.9', '81363.00'], ['6.0', '93940.00'], ['6.8', '91738.00'], ['7.1', '98273.00'], ['7.9', '101302.00'], ['8.2', '113812.00'], ['8.7', '109431.00'], ['9.0', '105582.00'], ['9.5', '116969.00'], ['9.6', '112635.00'], ['10.3', '122391.00'], ['10.5', '121872.00']]

In [ ]:
header=['Name','M1 Score', 'M2 Score']      # level data = age, number | unlevel data = unknown data | 
data=[['Alex', 62, 80], ['Brad',45,56], ['joey', 85, 98]]
filename='/content/student_score.csv'
with open(filename, 'w') as file:
  for header in header:
      file.write(str(header)+',')
  file.write('n')
  for row in data:
    for x in row:
      file.write(str(x)+',')
      file.write('n')
      print(data)

[['Alex', 62, 80], ['Brad', 45, 56], ['joey', 85, 98]]
[['Alex', 62, 80], ['Brad', 45, 56], ['joey', 85, 98]]
[['Alex', 62, 80], ['Brad', 45, 56], ['joey', 85, 98]]
[['Alex', 62, 80], ['Brad', 45, 56], ['joey', 85, 98]]
[['Alex', 62, 80], ['Brad', 45, 56], ['joey', 85, 98]]
[['Alex', 62, 80], ['Brad', 45, 56], ['joey', 85, 98]]
[['Alex', 62, 80], ['Brad', 45, 56], ['joey', 85, 98]]
[['Alex', 62, 80], ['Brad', 45, 56], ['joey', 85, 98]]
[['Alex', 62, 80], ['Brad', 45, 56], ['joey', 85, 98]]

In [ ]:
print(rows)  # unlevel catagories= unsuppervising data | Level data = suppervising data (monitoring)

[['1.1', '39343.00'], ['1.3', '46205.00'], ['1.5', '37731.00'], ['2.0', '43525.00'], ['2.2', '39891.00'], ['2.9', '56642.00'], ['3.0', '60150.00'], ['3.2', '54445.00'], ['3.2', '64445.00'], ['3.7', '57189.00'], ['3.9', '63218.00'], ['4.0', '55794.00'], ['4.0', '56957.00'], ['4.1', '57081.00'], ['4.5', '61111.00'], ['4.9', '67938.00'], ['5.1', '66029.00'], ['5.3', '83088.00'], ['5.9', '81363.00'], ['6.0', '93940.00'], ['6.8', '91738.00'], ['7.1', '98273.00'], ['7.9', '101302.00'], ['8.2', '113812.00'], ['8.7', '109431.00'], ['9.0', '105582.00'], ['9.5', '116969.00'], ['9.6', '112635.00'], ['10.3', '122391.00'], ['10.5', '121872.00']]

In [ ]:
print(file) # Catagorical Dataset- ppt

<_io.TextIOWrapper name='/content/student_score.csv' mode='w' encoding='UTF-8'>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Multi DataFrame
def make_df(cols,ind):
  data={c:[str(c)+str(i)for i in ind] for c in cols}
  return pd.DataFrame(data,ind)

In [ ]:
#example DataFrame | Single DataFrame
make_df('ABC', range(3))

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2

In [ ]:
import numpy as np
x=[1,2,3]
y=[4,5,6]
z=[7,8,9]
np.concatenate([x,y,z])

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
np.concatenate(/content/salary_data.csv, /content/student_score.csv) # ??

SyntaxError: ignored

In [ ]:
np.concatenate(/content/salary_data.csv, /content/student_score.csv) # ??

SyntaxError: ignored

In [ ]:
x=[[1,2],[3,4]]
np.concatenate([x,y],axis=1)

In [ ]:
ser1=pd.Series(['A','B','C'], index=[1,2,3]) # Concat New version | er vito option beshi ache from concatenate.
ser2=pd.Series(['D','E','F'], index=[4,5,6])
pd.concat([ser1,ser2])

1    A
2    B
3    C
4    D
5    E
6    F
dtype: object

In [ ]:
df1 = make_df('AB',[1,2])
df2 = make_df('AB',[3,4])
display('df1','df2', 'pd,concat([df1,df2])')

In [ ]:
df1 = make_df('AB',[1,2])
df2 = make_df('AB',[3,4])
display(df1,df2, 'pd,concat([df1,df2])')

In [ ]:
x = make_df('AB',[0,1])
y = make_df('AB',[2,3])
y.index=x.index
display('x','y', 'pd,concat([x,y])')

In [ ]:
 pd.concat([x,y], verify_integrity=True)
except ValueError as e:
 print("ValueError:",e)

SyntaxError: ignored

In [ ]:
display('x','y','pd.concat([x,y], ignore_index=True)')

'x'

'y'

'pd.concat([x,y], ignore_index=True)'

In [ ]:
# One to One joins

df1=pd.DataFrame({'empolyee':['Bob','Jake','Lisa','Sue'],
                  'group': ['Account','Engineering','Engineering','HR']})
df2=pd.DataFrame({'empolyee':['Lisa','Bob','Jake','Sue'],
                  'hire_date': [2004,2008,2012,2014]})
display

In [ ]:
df3=pd.merge(df1,df2)
df3

Empty DataFrame
Columns: [A, B]
Index: []

In [ ]:
df4=pd.DataFrame({'group':['Accounting','Accounting','Engineering','Engineering','HR','HR']
                  'supervisor': ['carly','guido','steve']})
display('df3','df4','pd.merge(df3,df4)')

SyntaxError: ignored

In [ ]:
df5=pd.DataFrame({'group':['Account','Engineering','Engineering','HR']
                  'Skills': ['math','spreadsheets','coding','linux','spreadsheets','organization']})
display('df1','df5',"pd.merge(df1,df5)")

SyntaxError: ignored

In [ ]:
display('df1','df5',"pd.merge(df1,df2, on='employee')")

'df1'

'df5'

"pd.merge(df1,df2, on='employee')"

In [ ]:
df3=pd.DataFrame({'name':['Bob','jack','Lisa','Sue'],'salary':[70000, 80000, 120000,90000]})
display('df1','df3',"pd.merge(df1,df3, left_on="employee"right_on='name')")

SyntaxError: ignored

In [ ]:
pd.merge(df1, df3,left_on='employee',right_on='nmae').drop('name',axis=1)

NameError: ignored

In [ ]:
display('df1a','df2a','df1a.joint(df2a)')

'df1a'

'df2a'

'df1a.joint(df2a)'

In [ ]:
display('df5','df5'
    "pd.concat([df5,df6],join='inner)")

'df5'

"df5pd.concat([df5,df6],join='inner)"

In [ ]:
display('df5','df6', "pd.concat([df5,df6],join_axes=[df5.columns])")

'df5'

'df6'

'pd.concat([df5,df6],join_axes=[df5.columns])'