<a href="https://colab.research.google.com/github/Amin1218/Big_data/blob/main/Day_2_(pandas).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pandas

In [ ]:
import numpy as np
import pandas as pd
data = pd.Series([0.25, 0.5, 0.75, 1.01])
data

0    0.25
1    0.50
2    0.75
3    1.01
dtype: float64

In [ ]:
data.values

array([0.25, 0.5 , 0.75, 1.01])

In [ ]:
data.index # index means positions like kato tomo positions

RangeIndex(start=0, stop=4, step=1)

In [ ]:
data[1]

0.5

In [ ]:
data[1:2]

1    0.5
dtype: float64

In [ ]:
data[1:3]

1    0.50
2    0.75
dtype: float64

In [ ]:
#Series as generalized NumPy array
import pandas as pd

data = pd.Series ([02.5, 0.5, 0.75, 1.0],
                 index = ['a', 'b', 'c', 'd'])

In [ ]:
data
data['b']
data = pd.Series([0.25, 0.5, 0.75, 1.0],
               index=[2, 5, 3, 7])

data
data[5]

0.5

In [ ]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],index=['a', 'b', 'c', 'd'])

In [ ]:
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [ ]:
data['b']

0.5

In [ ]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=[2, 5, 3, 7])

In [ ]:
data
data[5]

0.5

In [ ]:

population_dict = {'Califonia': 38332521, 
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}

In [ ]:
# Level er vito Key & value thake 
population = pd.Series(population_dict)
population

Califonia    38332521
Texas        26448193
New York     19651127
Florida      19552860
Illinois     12882135
dtype: int64

In [ ]:
population['Califonia']

38332521

In [ ]:
population['Califonia': 'Illinois']

Califonia    38332521
Texas        26448193
New York     19651127
Florida      19552860
Illinois     12882135
dtype: int64

In [ ]:
pd.Series(data, index=index)  # its an example

In [ ]:
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

In [ ]:
pd.Series(5, index=[100, 200, 300]) #1 ta value acha | onno valu nai whereas print same value

100    5
200    5
300    5
dtype: int64

In [ ]:
pd.Series({2:'a', 1:'b', 3:'c'})

2    a
1    b
3    c
dtype: object

In [ ]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2])

3    c
2    a
dtype: object

In [ ]:
area_dict = {'califonia': 423967, 'Texas': 695662, 'New York':141297, 'Florida':170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

califonia    423967
Texas        695662
New York     141297
Florida      170312
Illinois     149995
dtype: int64

In [ ]:
states = pd.DataFrame ({'population': population, 'area': area})

states
states.index
states.columns

NameError: ignored

In [ ]:
states
states.index
states.columns

NameError: ignored

In [ ]:
states['area']

NameError: ignored

In [ ]:
pd.DataFrame(population, columns=['population'])    # Data frame = inbuilt function,  Mathode = A process, which process i work

           population
Califonia    38332521
Texas        26448193
New York     19651127
Florida      19552860
Illinois     12882135

In [ ]:
data = [{'a': i, 'b':2 *i} for i in range(3)]

pd.DataFrame(data)
pd.DataFrame([{'a':1, 'b':2}, {'b':3, 'c':4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [ ]:
pd.DataFrame(np.random.rand(4,2),
             columns=['foo','bar'],
             index=['a', 'b', 'c','d'])

        foo       bar
a  0.982143  0.298580
b  0.343987  0.351394
c  0.870718  0.343455
d  0.362095  0.605558

In [ ]:
A=np.zeros(3, dtype=[('A', 'i8'), ('B','f8')])
A
pd.DataFrame (A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

In [ ]:
ind=pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [ ]:
ind[1]
ind[::2]
print(ind.size, ind.shape, ind.ndim, ind.dtype)
ind[1] = 0

NameError: ignored

In [ ]:
indA =pd.Index([1, 3, 5, 7, 9])

In [ ]:
indB= pd.Index([2, 3, 5, 7, 11])

In [ ]:
indA & indB # intersection ( Math of set)

In [ ]:
import pandas as pd
data = pd.Series([0.25, 0.5, 0.75, 1.0])
index=['a', 'b', 'c', 'd']
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [ ]:
data['b']
'a' in data
data.keys() # Key nia asse
list(data.items()) # Iteam nia asce
data['e']=1.25 
data

In [ ]:
# slicing by implict index
data ['a':'c']
# slicing by implict integer index
data[0:2]
#masking
data[(data>0.3) & (data<0.8)]

In [ ]:
#fancy indexing
data[['a','e']]

In [ ]:
# loc(row_lebel, column_label)

In [ ]:
# iloc[row_position, cloumn_position]

In [ ]:
#impict index when slicing 

data[1:3]
data.loc[1]
data.loc[1:3]

In [ ]:
data.iloc[1]
data.iloc[1:3]

5    0.50
3    0.75
dtype: float64

In [ ]:
data=pd.Series(['a', 'b', 'c'], index=(1,2,5))
data

1    a
2    b
5    c
dtype: object

In [ ]:
area=pd.Series({'Califonia': 423967,'Texas':695662,
      'New York': 141297, 'Folorida':170312,
      'Illinois':149995})
pop=pd.Series({'Califonia':38332521,'Texas':26448193,
      'New York': 19651127, 'Folorida':19552860,
      'Illinois':12882135})
data=pd.DataFrame({'area':area,'pop':pop})
data

             area       pop
Califonia  423967  38332521
Texas      695662  26448193
New York   141297  19651127
Folorida   170312  19552860
Illinois   149995  12882135

In [ ]:
data['area']
data.area
data.area is data['area']
data.pop is data['pop']
data['density']=data['pop']/data['area']
data

In [ ]:
data.value
data.T
data.values[0]
data['area']

In [ ]:
data.iloc[:3,:2]
data.loc[:'Illinois',:'pop']
data.loc[:,'pop']

Califonia    38332521
Texas        26448193
New York     19651127
Folorida     19552860
Illinois     12882135
Name: pop, dtype: int64

In [ ]:
data.loc[data.density>100,['pop','density']]
data.iloc[0,2]=90
data

In [ ]:
import pandas as pd
import numpy as np

rng = np.random.RandomState(42)
ser = pd.Series(rng.randint(0,10,4))
ser

0    6
1    3
2    7
3    4
dtype: int64

In [ ]:
df = pd.DataFrame(rng.randint(0, 10, (3, 4)),
                  columns=['A', 'B', 'C', 'D'])
df

   A  B  C  D
0  6  9  2  6
1  7  4  3  7
2  7  2  5  4

In [ ]:
np.sin(df * np.pi / 4)

          A             B         C             D
0 -1.000000  7.071068e-01  1.000000 -1.000000e+00
1 -0.707107  1.224647e-16  0.707107 -7.071068e-01
2 -0.707107  1.000000e+00 -0.707107  1.224647e-16

In [ ]:
area = pd.Series({'Alaska': 1723337, 'Texas': 695662,
                  'California': 423967}, name='area')
population = pd.Series({'California': 38332521, 'Texas': 26448193,
                        'New York': 19651127}, name='population')

In [ ]:
population/area

Alaska              NaN
California    90.413926
New York            NaN
Texas         38.018740
dtype: float64

In [ ]:
A = pd.Series([2,4,6], index=[0,1,2])
B = pd.Series([1,3,5], index=[1,2,3])
A+B

0    NaN
1    5.0
2    9.0
3    NaN
dtype: float64

In [ ]:
A.add(B, fill_value=0)

0    2.0
1    5.0
2    9.0
3    5.0
dtype: float64

In [ ]:
A = pd.DataFrame(rng.randint(0, 20, (2, 2)),
                 columns=list('AB'))
A
B = pd.DataFrame(rng.randint(0, 10, (3, 3)),
                 columns=list('BAC'))
B
A + B

      A     B   C
0  23.0   8.0 NaN
1   5.0  24.0 NaN
2   NaN   NaN NaN